[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-migrate = "*"
plotly = "*"
werkzeug = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
dotenv = "*"
psycopg2-binary = "*"
alembic = "*"
extensions = "*"
shell = "*"

[dev-packages]

[requires]
python_version = "3.12"
